.header {
  background-color: #495E57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: black;
  height: auto;
  position: sticky;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 30;
}

.nav {
  display: flex;
}

.nav a {
  margin-left: 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: white; /* Change link color to white */
}

h2 {
  margin: 0;
}

.socialIcon,
.contactIcon {
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
}

p {
  font-weight: bold;
}

.header[data-scroll="up"] {
  opacity: 0;
}

/* Hide hamburger icon on desktop */
@media (min-width: 769px) {
  .mobileMenuButton {
    display: none;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: #495E57;
    padding: 1rem;
  }

  .mobileMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  /* Style mobile links */
  .mobileNav a {
    color: white;
    text-decoration: none; /* Remove underline */
  }
}

.nav a:hover {
  color: #ccc;
}

